<div class="col-md-12">
	<div class="row">
	     <!--  panel payment method -->
	     <div class="panel panel-default">
	        <div class="panel-heading">支付完成</div>
	        <div class="panel-body"> 
			    <div class = "row">
			        <div class="col-sm-4 form-group">
			        	<label>订单号: </label>
			        	<input type="text" class="form-control" id="txtOrderId" name="txtAmount" ng-model="value.orderId" disabled/>
			        </div>  		   			        
			        <div class="col-sm-4 form-group">
			        	<label>票号: </label>
			        	<input type="text" class="form-control" id="txtTicketCode" name="txtAmount" ng-model="value.ticketCode" disabled/>
			        </div>  			             
		        </div>		
		       		                	           	       	       
        	</div>	 
        </div>    
	     
	</div>
	
 </div>
